<div style= "text-align:center;line-height:100%;padding:10px;">
  <h2>GoogleCalendarAPIの認証結果</h2>
  <p>
  <%= @status %>
  </p>
</div>

<div style= "text-align:center;line-height:100%;padding:50px;">
  <% if @status == "認証に成功しました" %>
    <p>続けてConnectAPIの認証を行ってください。</p>
    <a href = <%= APP_CONFIG["webhost"] + "connecthookup/setup"%> >ConnectAPI認証ページ</a>
  <% end %>
  <% if @status == "選択したGoogleのアカウントIDと入力したアカウント情報が一致していません" %>
    <p>入力画面からやり直してください。</p>
    <a href = <%= APP_CONFIG["webhost"] %> > 入力画面に戻る</a>
  <% end %>
  <%if @status ==  "認証に失敗しました" %>
    <p>予期せぬエラーです。システム管理者にお問合せください。</p>
  <% end %>

</div>

