<div style= "text-align:center;line-height:100%;padding:10px;">
  <h2>GoogleCalendarAPIの認証結果</h2>
  <p>
  <%= @status %>
  </p>
</div>

<div style= "text-align:center;line-height:100%;padding:50px;">
  <p>続けてConnectAPIの認証を行ってください。</p>
  <!--<a href = "https://google-demo-yumikotsunai.c9users.io/connecthookup/new">ConnectAPI認証ページ</a>-->
  <a href = "https://kkeapidemo2.herokuapp.com/connecthookup/new">ConnectAPI認証ページ</a>
</div>  


