<div style= "text-align:center;line-height:100%;padding:10px;">
  <h2>GoogleCalendarとConnectシステムを連携します</h2>
  <p>以下に、GoogleCalendarの情報を入力してください</p>
</div>

<div style= "text-align:center;line-height:100%;padding:50px;">
  <!--getcode.htmlに送信-->
  <%= form_tag hookup_getcode_path do %>
  
    <p>クライアントID</p>
    <input type="text" class="form-control title-field" name="clientId" style="width:500px" value="404180661728-qotv9so92qt4pp6s7v9jlmheik6bespe.apps.googleusercontent.com">
    <p>クライアントシークレット</p>
    <input type="text" class="form-control title-field" name="clientSecret" style="width:500px" value="_ZS6_pVing3DInTzpJ7c3QpJ">
    <p>カレンダーID</p>
    <input type="text" class="form-control title-field" name="calendarId" style="width:500px" value="g8ukpibvlfle41hplt1g3rplu0@group.calendar.google.com">
    <p>承認済みのリダイレクトURI</p>
    <input type="text" class="form-control title-field" name="redirectUri" style="width:500px" value="https://kkeapidemo2.herokuapp.com/hookup/callback">
    
    <input type="submit" value="送信" class="btn primary-btn">
  
  <%end%>
</div>
