<div style= "text-align:center;line-height:100%;padding:10px;">
    <h2>ConnectAPIの認証結果</h2>
    <p><%= @state  %></p>
    <p><%= @error  %></p>
    <%= link_to "ロックを選択", '/connecthookup/selectlock' %>
</div>