<div style= "text-align:center;line-height:100%;padding:10px;">
  <h2>GoogleCalendarとConnectシステムを連携します</h2>
  <p>以下に、LockState Connectの情報を入力してください</p>
</div>

<div style= "text-align:center;line-height:100%;padding:50px;">
  <!--getcode.htmlに送信-->
  <%= form_tag connecthookup_getcode_path do %>
  
    <p>アカウントメールアドレス</p>
    <input type="text" class="form-control title-field" name="email" style="width:500px" placeholder="demo@remotelock.com">
    <p>クライアントID</p>
    <input type="text" class="form-control title-field" name="clientId" style="width:500px" placeholder="86169dfc79da7ce9000a1d2f37dcb95f96d9b3bb03bf32e57b540cbaedbf0989">
    <p>シークレット</p>
    <input type="text" class="form-control title-field" name="clientSecret" style="width:500px" placeholder="1bfa525b96c3102c65d1f2be4abfa541f0b57ee17ac92dffbb9abf6417740c23">
    <!--<p>UUID</p>
    <input type="text" class="form-control title-field" name="uuId" style="width:500px">-->
    
    <input type="submit" value="送信" class="btn primary-btn">
  
  <%end%>
</div>
