<!DOCTYPE html>
<html>
<head>
  <title>GoogleDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="mwXIsAM7T9kSRBW3kjGPEP7LkI_CATVt0eJgBTmK-es" />
<!--  <meta name="google-site-verification" content="yXHeDhmd4GXL3-G-H0JweJuPZspzF_8IPRkmmBqC2Iw" />
  <meta name="google-site-verification" content="mwXIsAM7T9kSRBW3kjGPEP7LkI_CATVt0eJgBTmK-es" />
  <meta name="google-site-verification" content="PZDi1CWGW25rzFiv5I5OBN2btplsGK2ErW3jxVZ8DsQ" /> -->
</head>
<body>รง

<%= yield %>

</body>
</html>
