<!DOCTYPE html>
<html>
<head>
  <title>GoogleDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="yXHeDhmd4GXL3-G-H0JweJuPZspzF_8IPRkmmBqC2Iw" />
</head>
<body>

<%= yield %>

</body>
</html>
